/*
h3 font-family: 'Pacifico', cursive;
font-family: 'Permanent Marker', cursive;
body font-family: 'Nunito', sans-serif;
*/
form {
    margin-top:20px;
    margin-left:15%;
    padding:10px;
    border:solid black 1px;
    width:70%;
    display:flex;
    justify-content:baseline;
    background-color:lightGrey;
}

#form {
    display:flex;
    justify-content:center;
    width:100%;
}

#formFieldset {
    width:70%;
    border:solid black 1px;
    padding:10px;
    background-color:white;
    text-align:center;
}

input {
    box-sizing:border-box;
    font-size:1.2rem;
    display:block;
    margin:20px 10% 0px 10%;
    width:80%;
    padding:5px;
}

#aboutJon, #aboutTerra, #aboutJames, #aboutAkira {
    box-sizing:border-box;
    width:45%;
    margin:0px 2.5% 0px 2.5%;
    border:inset 6px;
    height:auto;
    background-color: #d6d6d6;
}

.paraPack {
    line-height:1.1;
}

#aboutJon, #aboutJames {
    float:left;
}

#aboutTerra, #aboutAkira {
    float:right;
}

input:first-of-type {
    margin-top:40px;
}

input:last-of-type {
    margin-bottom:40px;
}

h3 {
    font-size:2.6rem;
    color: rgb(48, 46, 69);
    font-family: 'Pacifico', cursive;
    font-style: bolder;
    text-align:center;
    margin:10px 0px 10px 0px;
}

img {
    display:block;
    width:300px;
    height:auto;
    border:outset 4px;
}

#abouts {
    margin-top:150px;
    position:relative;
}

#abouts:last-of-type {
    margin-bottom:30px;
}

#infoJon, #infoJames {
    margin-left:20px;

}

#infoTerra #infoAkira {
    margin-right:20px;

}

h2 {
    font-size:2rem;
}

p {
    color: #343642;
    font-size: 1.3rem;
    padding: 25px;
    text-align:center;
    line-height:1.2;
}

h3.a{
    margin-left:10px;
}


#feedback{
    margin-top:30px;
    margin-bottom:30px;
    position:flex;
    justify-content:baseline;
}

h3.a{
    margin-left:0px;
}

#feedbackForm {
    height:200px;
}

#something{
    display:block;
}

.clearfix{
    clear: both;
    overflow:hidden;
}

.picPack {
    text-align:center;
    display:flex;
    justify-content:center;
}

#infoJon, #infoJames {
    margin-left:20px;
}

#infoTerra #infoAkira {
    margin-right:20px;
}

h2 {
    font-size:2rem;
}

input {
    padding:10px;
    font-size:1.3rem;
}

button {
    font-size:1.3rem;
}
