
/*
h3 font-family: 'Pacifico', cursive;
font-family: 'Permanent Marker', cursive;
body font-family: 'Nunito', sans-serif;
*/

h3 {
    font-size:40px;
    color: rgb(48, 46, 69);
    font-family: 'Pacifico', cursive;
    font-style: bolder;
}

img {
    width:300px;
    height:auto;
    padding:11.25px;
    margin-left:-12px;

}

#abouts {
    margin-top:200px;
    position:relative;

}

#infoJon, #infoJames {
    margin-left:20px;

}

#infoTerra #infoAkira {
    margin-right:20px;

}

.leftAbout {
    float:left;
}

.rightAbout {
    float:right;
}

h2 {
    font-size:2rem;
}
p {
    color: #343642;
    font-size: 22.5px;
    padding: 11.25px;

}

section{
    position: relative;
}

p.jon{
    margin-left:350px;
    margin-top: -225px;
    margin-right:350px;
}
p#terra{
    margin-top:-210px;
    margin-right:300px;
    margin-left:350px;
}
p.james{
    margin-left:350px;
    margin-top: -230px;
    margin-right:350px;
}

p#akira{
    margin-top:-230px;

    margin-right:300px;
}
p.akira{
    margin-top:-210px;
    margin-right:300px;

    margin-left:350px;
    text-align: left;
}
h3.a{
    margin-left:0px;
}

form#feedback{
    margin-left: 100px;
    position: absolute;
    bottom: -200px;
    left: 200px;
   }

#something{
    display:block;
}
.clearfix{
    clear: both;
    overflow:hidden;
}

h3 {
    font-size:1.6rem;
}

img {
    width:300px;
    height:auto;
}


#abouts {
    margin-top:200px;
}

#infoJon, #infoJames {
    margin-left:20px;
}

#infoTerra #infoAkira {
    margin-right:20px;
}

.leftAbout {
    float:left;
}

.rightAbout {
    float:right;
}

h2 {
    font-size:2rem;
}
