/*
font-family: 'Pacifico', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Nunito', sans-serif;
*/

body {
    font-size:20px;
    background-color:#FF4317;
    color: black;

}

header {
    display:flex;
    justify-content:center;
}

.navbar {
    width: 100%;
    background-color: #A8D7EB;
    height: 100px;
    color: black;
    position: fixed;
    top: 0;
    z-index: 1;
}

.brand-link {
    color: #FF4317;
    text-decoration: none;
    font-size: 4rem;
    padding: 10px;
}

.nav-links {
    color: #FF4317;
    position: fixed;
    top: 5%;
    right: 35%;
}

#instructions {
    display:flex;
    justify-content:center;
}

ol {
    padding:20px;
    margin-top:150px;
    background-color:black;
    font-size:1.1rem;
    display:block;
    list-style:decimal inside;
    border:solid black 1px;
    color: white;
}

ol li {
    padding:5px 0px 5px 0px;
}

form {
    margin: 20px 0 50px 0;
    padding: 10px;
    border: solid black 1px;
    width: 60%;
    display: flex;
    justify-content: center;
    background-color: white;
    position: relative;
}

#form {
    display:flex;
    justify-content:center;
    width:100%;
}

#formFieldset {
    width:60%;
    border:solid black 1px;
    padding:10px;
    background-color:white;
    color: black;
}

input {
    box-sizing:border-box;
    font-size:1.2rem;
    display:block;
    margin:20px 10% 0px 10%;
    width:80%;
    padding:5px;
}

input:first-of-type {
    margin-top:40px;
}

input:last-of-type {
    margin-bottom:40px;
}

#buttons {
    display: inline-block;
    justify-content: center;
    position: absolute;
    bottom: -45px;
}

button {
    font-size: 1.2rem;
    padding: 5px;
    width: 860px;
    color: #A8D7EB;
    background: black;
    border: solid 1px #A8D7EB;
}

a {
    text-decoration: none;
    color: #FF4317;
    margin-left: 10px;
    font-size: 2rem;
}

h3 {
    font-size:1.6rem;
}

img {
    width:300px;
    height:auto;
}

#abouts {
    margin-top:200px;
}

#infoJon, #infoJames {
    margin-left:20px;
}

#infoTerra #infoAkira {
    margin-right:20px;
}

.leftAbout {
    float:left;
}

.rightAbout {
    float:right;
}

h2 {
    font-size:2rem;
}

.story-section {
    height: 100vh;
    position: relative;
}

.story-shell {
    margin: auto;
    padding: 50px;
}

#storyBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
    background-image: url('images/akira.jpg');
}

/* ==============Animation============= */

.form-pulse{
    animation: pulse 5s infinite;
    animation-name: form-pulse;
}

@keyframes form-pulse {
  0% {
    background-color: white;
    color: black;
  }
  50% {
    background-color: black;
    color: white;
  }
  100% {
     background-color: white;
     color: black;
  }
}

.pulse {
  animation: pulse 5s infinite;
  animation-name: button-pulse;
}

@keyframes button-pulse {
  0% {
    background-color: black;
    color: #A8D7EB;
  }
  50% {
    background-color: #A8D7EB;
    color: black;
  }
  100% {
    background-color: black;
    color: #A8D7EB;
  }
}
