/*
font-family: 'Pacifico', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Nunito', sans-serif;
*/

body {
    font-size:20px;
    background-color:#273382;
    color: #343642;
}

header {
    display:flex;
    justify-content:center;
}

.navbar {
    width: 100%;
    background-color: #A8D7EB;
    height: 100px;
    color: #343642;
    position: fixed;
    top: 0;
}

.brand-link {
    color: #273382;
    text-decoration: none;
    font-size: 4rem;
    padding: 10px;
}

.nav-links {
    color: #273382;
    position: fixed;
    top: 5%;
    right: 35%;
}

#instructions {
    display:flex;
    justify-content:center;
}

ol {
    padding:20px;
    margin-top:150px;
    background-color:#343642;
    font-size:1.1rem;
    display:block;
    list-style:decimal inside;
    border:solid #343642 1px;
    color: #F9F9FA;
}

ol li {
    padding:5px 0px 5px 0px;
}

form {
    margin: 20px 0 50px 0;
    padding: 10px;
    border: solid #343642 1px;
    width: 60%;
    display: flex;
    justify-content: center;
    background-color: #F9F9FA;
    position: relative;
}

#form {
    display:flex;
    justify-content:center;
    width:100%;
}

#formFieldset {
    width:60%;
    border:solid #343642 1px;
    padding:10px;
    background-color:#F9F9FA;
    color: #343642;
}

input {
    box-sizing:border-box;
    font-size:1.2rem;
    display:block;
    margin:20px 10% 0px 10%;
    width:80%;
    padding:5px;
}

input:first-of-type {
    margin-top:40px;
}

input:last-of-type {
    margin-bottom:40px;
}

#buttons {
    display: inline-block;
    justify-content: center;
    position: absolute;
    bottom: -45px;
}

button {
    font-size: 1.2rem;
    padding: 5px;
    width: 860px;
    color: #A8D7EB;
    background: #343642;
    border: solid 1px #A8D7EB;
}

a {
    text-decoration: none;
    color: #273382;
    margin-left: 10px;
    font-size: 2rem;
}

h3 {
    font-size:1.6rem;
}

img {
    width:300px;
    height:auto;
}

#abouts {
    margin-top:200px;
}

#infoJon, #infoJames {
    margin-left:20px;
}

#infoTerra #infoAkira {
    margin-right:20px;
}

.leftAbout {
    float:left;
}

.rightAbout {
    float:right;
}

h2 {
    font-size:2rem;
}
