header {
    display:flex;
    justify-content:center;
}

#instructions {
    display:flex;
    justify-content:center;
}

ol {
    display:block;
    list-style:decimal inside;
}

#textBoxes {
    display:flex;
    justify-content:center;
}

input {
    display:block;
    margin-top:10px;
}

#buttons {
    display:flex;
    justify-content:center;
}