/*
font-family: 'Pacifico', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Nunito', sans-serif;
*/

html {
    font-size:20px;
    background-color:grey;
}

header {
    display:flex;
    justify-content:center;
}

#navBar {
    background-color:skyblue;
}

nav h1 {
    font-size:5rem;
    background-color:skyblue;
    position:absolute;
    top:25px;
    left:2%;
    border:solid #343642 1px;
    padding:10px;
}

nav ul {
    position:absolute;
    top:0px;
    right:0px;
    border-bottom:solid #343642 1px;
    border-left:solid #343642 1px;
    background-color:skyblue;
}

nav li {
    display:block;
    text-align:center;
    font-size:1.4rem;
    padding:5px 10px 5px 10px;
}

#instructions {
    display:flex;
    justify-content:center;
}

ol {
    padding:20px;
    margin-top:150px;
    background-color:lightGrey;
    font-size:1.1rem;
    display:block;
    list-style:decimal inside;
    border:solid #343642 1px;
}

ol li {
    padding:5px 0px 5px 0px;
}

form {
    margin-top:20px;
    padding:10px;
    border:solid #343642 1px;
    width:60%;
    display:flex;
    justify-content:center;
    background-color:lightGrey;
}

#form {
    display:flex;
    justify-content:center;
    width:100%;
}

#formFieldset {
    width:60%;
    border:solid #343642 1px;
    padding:10px;
    background-color:#F9F9FA;
}

input {
    box-sizing:border-box;
    font-size:1.2rem;
    display:block;
    margin:20px 10% 0px 10%;
    width:80%;
    padding:5px;
}

input:first-of-type {
    margin-top:40px;
}

input:last-of-type {
    margin-bottom:40px;
}

#buttons {
    display:flex;
    justify-content:center;
}

button {
    font-size:1.2rem;
    padding:5px;
}

a {
    text-decoration:none;
    color:#343642;
}

#storyBlock {
    position:absolute;
    top:200px;
}

h3 {
    font-size:1.6rem;
}

img {
    width:300px;
    height:auto;
}

#abouts {
    margin-top:200px;
}

#infoJon, #infoJames {
    margin-left:20px;
}

#infoTerra #infoAkira {
    margin-right:20px;
}

.leftAbout {
    float:left;
}

.rightAbout {
    float:right;
}

h2 {
    font-size:2rem;
}